* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

/* Estilos do cabeçalho */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Seção do quiz */
.quiz-section {
    max-width: 700px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo das perguntas */
.question {
    margin-bottom: 20px;
}

.question p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Estilo das opções de resposta */
form label {
    display: block;
    margin-bottom: 8px;
}

input[type="radio"] {
    margin-right: 10px;
}

/* Estilo do botão de envio */
.submit {
    text-align: center;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}

/* Rodapé */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
